@import "tailwindcss";

.input-style {
  @apply w-full bg-gray-700 border border-gray-600 rounded-lg px-4 py-2 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-cyan-500 transition duration-200;
}

/* NOVAS CLASSES */
.checkbox-label, .radio-label {
  @apply block w-full text-center bg-gray-700 border border-gray-600 rounded-lg px-4 py-2 text-white cursor-pointer transition-all duration-200 ease-in-out;
}

.checkbox-label:hover, .radio-label:hover {
  @apply bg-gray-600;
}
 
.checkbox-label.checked, input[type="radio"]:checked + label, .radio-label:has(input:checked) {
  @apply bg-cyan-500 border-cyan-400 font-bold;
}
 
.checkbox-label.checked:hover {
    @apply bg-cyan-600;
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}