@import "tailwindcss";

.input-style {
  @apply w-full bg-white border border-pink-300 rounded-lg px-4 py-2 text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-pink-400 focus:border-pink-400 transition duration-200;
}

/* NOVAS CLASSES */
.checkbox-label, .radio-label {
  @apply block w-full text-center bg-white border border-pink-300 rounded-lg px-4 py-2 text-gray-800 cursor-pointer transition-all duration-200 ease-in-out;
}

.checkbox-label:hover, .radio-label:hover {
  @apply bg-pink-50;
}
 
.checkbox-label.checked, input[type="radio"]:checked + label, .radio-label:has(input:checked) {
  @apply bg-pink-500 border-pink-400 font-bold text-white;
}
 
.checkbox-label.checked:hover {
    @apply bg-pink-600;
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}